/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg.jpg') #b46b24 no-repeat center center fixed;
	min-height:100%;
	background-size:cover;
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #fff;
	min-height:100%;
}
