
* {
	font-family: 'Open Sans', sans-serif;
	color:#FFF;
	box-sizing: border-box;
	  -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	      -o-box-sizing: border-box;
}

html, body {
	min-height: 100%;
	margin:0;padding:0;
}

html {
	background: url(http://www.dreamtemplate.com/dreamcodes/bg_images/color/c23.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
		-moz-background-size: cover;
			-o-background-size: cover;
				background-size: cover;
}

.main_container {
	position:relative;
	width: 100%;
	min-height: 100%;
}

header {
	position:relative;
	padding:30px 100px;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
}

header .logout {
	float:right;
	padding-top: 30px;
}

header .logout a {
	color:#FFF;
	text-decoration: none;
	font-size: 30px;
}

header .icon_block {
	font-size: 40px;
	float:left;
}

header .icon_block i {
	font-size: 70px;
}

header nav {
	position: relative;
	font-size:40px;
}

nav ul { 
	margin: 0;padding: 0;
	list-style-type:none;
}
nav ul li {display: inline-block;}


section {
	padding: 100px 0;
}

article#create_account_container {
	display: none;
}

article.login_container {
	position:relative;
	width:500px;
	margin: auto auto;
	background: rgba(255,255,255,0.2);
}

article.login_container {
	padding: 10px;
	overflow: hidden;
}

article.login_container h1 {
	text-align: center;
	font-size: 40px;
	font-weight: 100;
	padding: 30px;
	margin: 0;
}

article.login_container form {
	text-align: center;
}

article.login_container form input {
	color:rgba(0,0,0,0.5);
	padding:10px;
	font-size: 30px;
	margin-bottom: 10px;
}

article.login_container a.create_account {
	float:right;
	color:#FFF;
	text-decoration: none;
}

article.login_container form a {
	color:#FFF;
}

article.login_container form label {
	font-size: 20px;
}

article.login_container form div.login_icon {
	position:relative;
	padding: 20px;
}

article.login_container form div.login_icon i {
	font-size: 80px;
}

article.login_container form div.login_icon i:hover {
	color:rgba(255,65,0,0.8);
}

article.profile_container {
	position:relative;
	width:800px;
	margin: auto auto;
	padding: 30px;
	background: rgba(255,255,255,0.2);
}

article.profile_container ul {list-style-type: none;}
article.profile_container ul li {margin-bottom: 10px;}

footer {
	position:relative;
	height:50px;
}

/* RESPONSIVE*/
@media screen and (max-width: 790px) {
    header {
        text-align: center;
    }
    header .icon_block {
    	float:none;
    }
    .resp_disapear {
    	display: none;
    }
}

/* Mobile */
@media screen and (max-width: 530px) {
    header {
        text-align: center;
    }
    header .icon_block {
    	float:none;
    }
    .mobile_resp_disapear {
    	display: none;
    }
}



/* HELPER CLASSES */
.text_white {
	color:#FFF;
}
.text_orange {
	color:#FF4100;
}


/* alert/status messages */
.messages {
	margin: 0 auto;
	width: 550px;
}
.messages .alert {
	background: rgba(255,255,255,0.3);
	padding: 1em;
	border: 2px solid #ccc;
	margin: 1em;
	border-radius: 4px;
}
.messages .alert-success { border-color: green; }
.messages .alert-danger { border-color: red; }
