<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Laptop Name</label>
            <input class="form-control" placeholder="Name" id="laptop_name" name="laptop_name">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>CPU</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="laptop_cpu" placeholder="Speed in MHz" name="laptop_cpu">
              <div class="input-group-addon">MHz</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>RAM</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="laptop_ram" placeholder="Memory in GB" name="laptop_ram">
              <div class="input-group-addon">GB</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Hard Drive</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="laptop_hd" placeholder="Hard drive in GB" name="laptop_hd">
              <div class="input-group-addon">GB</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Screen Size</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="laptop_screen" placeholder="Screen size in inches" name="laptop_screen">
              <div class="input-group-addon">in</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Price</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="laptop_price" placeholder="Price in $" name="laptop_price">
              <div class="input-group-addon">$</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Quantity</label>
        <div class="form-group">
            <input type="text" class="form-control" id="laptop_quantity" placeholder="Quantity" name="laptop_quantity">
        </div>
    </div>
</div>