<div id="part_id" style+"display:none"></div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Part Name</label>
            <input class="form-control" placeholder="Name" id="part_name" name="part_name">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Part Type</label>
        <div class="form-group">
            <select class="form-control" name="part_type" id="part_type">
                <option value="HD">HD</option>
                <option value="RAM">RAM</option>
                <option value="CPU">CPU</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Value</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="part_value" placeholder="Value" name="part_value">
              <div class="input-group-addon"><span id="type">GB</span></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Price</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="part_price" placeholder="Price in $" name="part_price">
              <div class="input-group-addon">$</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Quantity</label>
        <div class="form-group">
            <input type="text" class="form-control" id="part_quantity" placeholder="Quantity" name="part_quantity">
        </div>
    </div>
</div>