<div id="pc_id" style="display:none"></div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>PC Name</label>
            <input class="form-control" placeholder="Name" id="pc_name" name="pc_name">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>CPU</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="pc_cpu" placeholder="Speed in MHz" name="pc_cpu">
              <div class="input-group-addon">MHz</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>RAM</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="pc_ram" placeholder="Memory in GB" name="pc_ram">
              <div class="input-group-addon">GB</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Hard Drive</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="pc_hd" placeholder="Hard drive in GB" name="pc_hd">
              <div class="input-group-addon">GB</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Price</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="pc_price" placeholder="Price in $" name="pc_price">
              <div class="input-group-addon">$</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Quantity</label>
        <div class="form-group">
            <input type="text" class="form-control" id="pc_quantity" placeholder="Quantity" name="pc_quantity">
        </div>
    </div>
</div>