<div id="software_id" style="display:none"></div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Software Name</label>
            <input class="form-control" placeholder="Name" id="software_name" name="software_name">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Type</label>
        <div class="form-group">

              <input type="text" class="form-control" id="software_type" placeholder="eg. OS, Video Game, Music ..." name="software_type">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Size</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="software_size" placeholder="Size in GB" name="software_size">
              <div class="input-group-addon">GB</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Price</label>
        <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="software_price" placeholder="Price in $" name="software_price">
              <div class="input-group-addon">$</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <label>Quantity</label>
        <div class="form-group">
            <input type="text" class="form-control" id="software_quantity" placeholder="Quantity" name="software_quantity">
        </div>
    </div>
</div>